<?xml version="1.0" encoding="utf-8"?>
<Personas>
	<Persona>
		<Language>en</Language>
		<RegionCountry>au</RegionCountry>
		<TimeZone>au</TimeZone>
		<FirstName>Bonnie</FirstName>
		<LastName>Yang</LastName>
		<EmailAddress>auto</EmailAddress>
		<PhoneCode>auto</PhoneCode>
		<PhoneNumber>auto</PhoneNumber>
			
		<WebServer>
			<ContainerName>Astrana</ContainerName>
			<Host>
				<Provider>iis</Provider>
				<Domain>bonnie.astrana.local</Domain>
				<Port>80</Port>
				<RevereseProxy enabled="false">
					<Provider></Provider>
				</RevereseProxy>
			</Host>
			<SslCertificate>
				<Provider>Self</Provider>
				<Location></Location>
			</SslCertificate>
		</WebServer>
		
		<Database>
			<Provider>MSSqlServer</Provider>
			<Name>auto</Name>
			<HostAddress>localhost</HostAddress>
			<HostPort></HostPort>
			<UserName>auto</UserName>
			<Password>auto</Password>
		</Database>
	</Persona>
</Personas>